h2 {
  font-size: 34px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.2em;
  margin: 20px 0 20px;
  text-decoration: blink;
}

h2 span {
  background: #fff;
  padding: 0 40px;
}

.title {
  margin: auto;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 90%;
}

.table {
  margin-bottom: 60px;
}

.calculate {
  width: 80%;
}

.select {
  margin-bottom: 60px !important;
}

label {
  color: #000000;
}